<?php require_once __DIR__.'/../../app/app.php'; ?>

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="background: #EEEEEE; margin: 0;">
    <span style="float: left;">
    <div id="divFeed" style="margin: 0;">
        <img  src="resources/logo.png" width="300" height="300"/>
        <form class="form-inline" action='/addFeed' name='add' method='post'>
            <p style="margin: 10px 0px"><input  type="text" class="input-small" placeholder="Feed URL" name="inputRss" style="width:300px;"/></p>
            <p style="margin: 10px 0px; width: 300px; text-align: center;">
                <select name="inputType" style="width: 72%">
                    <option id="RSS">RSS</option>
                    <option id="Atom">Atom</option>
                </select>
                <button type="submit" class="btn" style="width: 25%">Add</button>
            </p>
        </form>
    </div>
    <div id="divCategory" style="margin: 0;">
        <table style='width: 300px;'>
            <tr>
                <td>All Categories</td>
                <td><input type='checkbox' checked='checked'/></td>
            </tr>
        <?php
            foreach ($categories as $category)
            {
                echo $engine->render('CategoryDetail.html',['category' => $category]);
            }
        ?>
        </table>

    </div>
    </span>
    <div id="divFil" style="margin-left: 350px; padding-top: 30px;">
        <table style='width: 100%;'>
        <?php
            foreach ($entries as $entry)
            {
                echo $engine->render('EntryDetail.html',['entry' => $entry]);
            }
        ?>
        </table>
    </div>
</body>
</html>